<iframe frameborder="0" allowtransparency="true" scrolling="no" src="https://money.yandex.ru/embed/shop.xml?account=410011549560101&quickpay=shop&payment-type-choice=on&writer=buyer&targets-hint=%D0%9D%D0%BE%D0%BC%D0%B5%D1%80+%D0%BA%D0%B2%D0%B8%D1%82%D0%B0%D0%BD%D1%86%D0%B8%D0%B8+%D0%B8%D0%BB%D0%B8+%D0%BA%D0%BE%D0%BC%D0%BC%D0%B5%D0%BD%D1%82%D0%B0%D1%80%D0%B8%D0%B9&default-sum=#{@value}&button-text=01&fio=on&phone=on&successURL=" width="450" height="209"></iframe>