/* ----------------Home---------------------*/

/* Carousel */

.carousel-section {
	background-image: image_url('carousel-background.jpg');
	margin-bottom: 40px;
	overflow: hidden;
}



/* Services */

.services {
	margin-bottom: 40px;

	.content-box {
		display: block;
		text-align: center;
		overflow: hidden;
		padding: 15px;
		margin-bottom: 5px;

		&.box-default {
			background-color: #f6f6f6;
			border: solid 1px #e5e5e5;

			&:hover {
				background-color: #f3f3f3;
			}
		}
	}
}

/* Welcome */

.welcome {
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
  margin-bottom: 40px;
  background-color: #f9f9f9;

  .text {
  	padding-top: 20px;

		.icon-devices {
			margin: 30px 0 20px 0px;
			font-size: 3em;
			text-align: center;
			padding: 0;

			li {
				list-style-type: none;
				list-style-position: outside;
				display: inline-block;

				a {
				  color: #777;
				  margin-right: 10px;

				  &:hover {
				  	color: #666;
					}
				}

				&.active {
					a {
						color: #5ebe1e;
					}
				}
			}
		}
	}

	.img {
  	padding-top: 20px;
  }

  @media (min-width: 1200px) {
	  .text {
	    padding-top: 80px;
	  }

	  .img {
	  	padding-top: 60px;
	  }
	}

	@media (max-width: 767px) {
    h3, p {
			text-align: center;
		}
  }
}

/* About */
.about {
	margin-bottom: 40px;

	h2 {
		margin-top: 0 !important;
	}

	@media (max-width: 767px) {
    h2, p {
			text-align: center;
		}
  }

	.lead {
	  font-weight: 300;
	  font-family: "Open Sans", sans-serif;
	  font-size: 1.8em;
  	margin-bottom: 40px;
  	color: #5ebe1e;

  	strong {
  		font-weight: 400;
  	}
	}
}


/* Slogan */
.slogan {
	font-family: "Open Sans", sans-serif;
	font-size: 2em;
	line-height: 150%;
	margin-bottom: 50px;
	font-weight: 300;

	span {
		color: #5ebe1e;
	}
}

/* Clients */

.clients {
	h3, img {  
		font-weight: bold;
    -webkit-filter: grayscale(100%);
	  -moz-filter: grayscale(100%);
	  -ms-filter: grayscale(100%);
	  -o-filter: grayscale(100%);
	  filter: grayscale(100%);
	  filter: gray;
	  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
	  -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;

    &:hover {
    	cursor: pointer;
    	-webkit-filter: grayscale(0%);
		  -moz-filter: grayscale(0%);
		  -ms-filter: grayscale(0%);
		  -o-filter: grayscale(0%);
		  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    } 
	}  
}

/* -------------Contact--------------*/

.contact {
	textarea {
    resize: none;
	}

	hr {
		display: block;
		border-top: 1px solid #ddd;
		margin: 25px 0;

		&.dotted {
			border-style: dotted !important;
		}
	}

	iframe {
		border: 0;
		pointer-events: none;
	}

	.section-title {
		margin-top: 0 !important;
	}

	.well {
		border-radius: 2px;
		background-color: #f3f3f3;
		border-color: #e0e0e0;
	}

	.dropdown {
    display: inline-block;
    margin-left: 20px;
    z-index: 60000000;
    vertical-align: top;

    a {
      margin: 0;
      display: inline-block;
      padding: 7px 10px;
      color: #000;
      text-decoration: none;
      background-color: #f1f1f1;
      -webkit-box-shadow: inset 0 0 1px #ffffff;
      -moz-box-shadow: inset 0 0 1px #ffffff;
      box-shadow: inset 0 0 1px #ffffff;
      border: solid 1px #e3e6e8;
      border-top: 0;

      i {
        font-size: 1.2em;
        color: #444;
      }
    }
  }


  .dropdown-call-box {
    overflow: hidden;
    padding: 10px;
    margin: 0;
    min-width: 400px;
    box-shadow: none;
    top: 0;
  	right: 110%;
  	left: auto;

    .btn {
      margin-top: 10px;
    }
  }

  .call {
  	a {
  		.form-group {
  			display: none;
  			margin: 0;
  		}

  		&.active {
  			.form-group {
	  			display: block;
	  		}

	  		h3 {
	  			display: none;
	  		}
  		}
  	}
  }

  .btn {
  	margin-bottom: 20px;
  }
}

/* Admin */

.admin {
	background: image_url('back.png');
	background-repeat: repeat;

	input[type="text"] {
		height: 34px;
		position: relative;
		z-index: 3;
	}

	img {
		margin-bottom: 30px;
	}

	.login-form {
		padding-top: 50px;
		max-width: 500px;
		margin: 0 auto;
	}
}

/* Payment */

.payment {
	.form-group {
		margin-bottom: 40px;
	}

	iframe {
		margin-right: auto;
		margin-left: auto;
		display: block;
	}
}